@media screen and (max-width: 768px) {
    .lead {
        font-size:25px;
    }
}

@media screen and (max-width: 568px) {
    .lead {
        font-size:0.5em;
    }
}

#plugin-name{
    text-transform: capitalize;
    font-size: $h2-font-size;
    font-weight: bold;
}
#plugin-number{
    font-size: large;
    text-decoration: none;
}

#plugin-info{
    font-size: large;
    text-decoration: none;
    text-align: center;
}
#plugin-cost{
     text-align: center;
     font-size: large;
    ;
 }
#plugin-menu{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
}
#plugin-knowmore {
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0.1em;
    padding-right: 0.1em;
}
#plugin-add{
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0.1em;
    padding-right: 0.1em;
}
#ccost{
    text-align: center;
    font-size: large;
}
#module-name{
    font-weight: bold;
}

#component{
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

#infotxt{
    text-align: center;
}
#service{
    font-size: medium;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    text-align: center;
}

#ctotal{
    text-align: center;
    font-size: $h2-font-size;
    font-weight: bold;
}