
@import "../bootstrap-4.3.1/scss/_functions";

@import "../bootstrap-4.3.1/scss/_variables";
@import "../bootstrap-4.3.1/scss/_mixins";

$font-size-base: 1rem;

#PluginsMain{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0em;
    padding-right: 0em;
}

#plugin-name{
    font-size: 0.9rem;
    font-weight: bold;
}
#plugin-number{
    font-size: 0.9rem;
    text-decoration: none;
}

#plugin-info{
    font-size: 0.9rem;
    text-decoration: none;
}

#plugin-cost{
     text-align: center;
    font-size: 0.9rem;
 }
#plugin-menu{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
}
#plugin-knowmore {
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    padding-left: 0.1em;
    padding-right: 0.1em;
}
#plugin-add{
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    padding-left: 0.1em;
    padding-right: 0.1em;
}
.itemcost{
    text-align: center;
    font-size:  0.8rem;
}
.txtbyyear{
    text-align: center;
    font-size:  0.8rem;

}

.ConvUser{
    margin: 5pt 5pt 5pt 5pt;

}

#module-name{
    font-weight: bold;
}

#provider-selector{
    padding-top: 1em;
    padding-bottom: 0em;
    padding-left: 2em;
    padding-right: 0.1em;
}
#component{
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

#infotxt{
    font-size: $h6-font-size;
    text-align: center;
}
#service{
    font-size: $h6-font-size;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    text-align: center;
}

.costoutput{
    text-align: center;
    font-size: $h4-font-size;
    font-weight: bold;

}
#export-group{
    padding-top: 0.5em;
    padding-bottom: 0.5em;

}
#howto{
    font-size: $h6-font-size;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
#page_foot{
    padding-top: 2em;
}

$enable-responsive-font-sizes: true;

@import "../bootstrap-4.3.1/scss/bootstrap";
